<div class="container mx-auto my-16">
    <div class="grid grid-cols-2 gap-5">
        <div class="shadow-lg border-2 border-gray-900">
            <img [src]="siteImgUrl" alt="">
            <h3 class="grid grid-cols-3 gap-3 my-1 p-3">{{siteName}}</h3>
            <div class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">
              {{siteUrl}}
            </div>
        </div>


        <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
            <h2 class="text-3xl text-center">add new user password</h2>
            <p class="text-center">you can add new password and user for the below form</p>
            <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">email</label>
                    <input ngModel type="email" name="email" class="border-2 border-gray-900 p-2 rounded-md w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">userName</label>
                    <input ngModel type="text" name="userName" class="border-2 border-gray-900 p-2 rounded-md w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">password</label>
                    <input ngModel type="password" name="password" class="border-2 border-gray-900 p-2 rounded-md w-full">
                </div>
                <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">
                    addNewPassword
                </button>
            </form>
        </div>
    </div>
    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 border-gray-900 p-3">Email</th>
                    <th class="border-2 border-gray-900 p-3">UserName</th>
                    <th class="border-2 border-gray-900 p-3">password</th>
                    <th class="border-2 border-gray-900 p-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-14">
                    <td class="border-2 border-gray-900 p-3">anil@gmail.com</td>
                    <td class="border-2 border-gray-900 p-3">Anil@9</td>
                    <td class="border-2 border-gray-900 p-3">Srinu@9.</td>
                    <td class="border-2 border-gray-900 p-3">
                        <button class="mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white rounded-md shadow">
                            edit
                        </button>
                        <button
                            class="mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 bg-gray-900 rounded-md text-white shadow">
                            delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>