<app-navbar></app-navbar>
<div class="container mx-auto my-16">
    
            <!-- alert -->
            <div *ngIf="isSucess" class="py-5 my-3 bg-teal-100 text-teal-900">{{sucessMessage}}</div>
    <div class="grid grid-cols-2 gap-5">
        <div class="shadow-lg border-2 border-gray-900">
            <img [src]="siteImgUrl" alt="">
            <h3 class="grid grid-cols-3 gap-3 my-1 p-3">{{siteName}}</h3>
            <div class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">
              {{siteUrl}}
            </div>
        </div>

        <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
            <h2 class="text-3xl text-center">{{formState}} user password</h2>
            <p class="text-center">you can {{formState}} password and user for the below form</p>
            <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">email</label>
                    <input [(ngModel)]="email" type="email" name="email" class="border-2 border-gray-900 p-2 rounded-md w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">userName</label>
                    <input [(ngModel)]="username" type="text" name="userName" class="border-2 border-gray-900 p-2 rounded-md w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">password</label>
                    <input [(ngModel)]="password" type="password" name="password" class="border-2 border-gray-900 p-2 rounded-md w-full">
                </div>
                <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">
                    {{formState}}Password
                </button>
            </form>
        </div>
    </div>
    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 border-gray-900 p-3">Email</th>
                    <th class="border-2 border-gray-900 p-3">UserName</th>
                    <th class="border-2 border-gray-900 p-3">password</th>
                    <th class="border-2 border-gray-900 p-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-14" *ngFor="let password of passwordsList , let i=index">
                    <td class="border-2 border-gray-900 p-3">{{password.email}}</td>
                    <td class="border-2 border-gray-900 p-3">{{password.userName}}</td>
                    <td class="border-2 border-gray-900 p-3">
                        {{password.password}}
                        <button
                        (click)="onDecrypt(password.password,i)"
                         class="mx-0.5 px-5 py-1 text-sm bg-red-500 text-white shadow rounded-md">
                            decrypt
                        </button>
                    </td>
                    <td class="border-2 border-gray-900 p-3">
                        <button (click)="editPassword(password.email,password.userName,password.password,password.id)"
                         class="mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white rounded-md shadow">
                            edit
                        </button>
                        <button (click)="deletePassword(password.id)"
                            class="mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 bg-gray-900 rounded-md text-white shadow">
                            delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>